@font-face {
    font-family: moris;
    src: url(fonts/Florensa-Demo.ttf);
}
@font-face {
    font-family: faster;
    src: url(fonts/Espresso\ Show.ttf);
}

@font-face {
    font-family: imgpara;
    src: url(fonts/PrimeformProDemo-Regular.otf);
}
@font-face {
    font-family: val;
    src: url(fonts/LaachirDeeper-Regular.ttf);
}

@font-face {
    font-family: logo;
    src: url(fonts/CollegeClean-Regular.ttf);
}

@font-face {
    font-family: mil;
    src: url(fonts/Mesintwa\ Personal\ Use\ Only.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


.heading {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    border: 1px solid;
    background-color: #a1b3db59;
    padding: 10px;
    border-radius: 20px;
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    text-align: center;
    letter-spacing: 1.5px;
                                                                 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

h3
{
    font-family: val;
    font-size: xx-large;
}

html{
    scroll-behavior: smooth;
}

nav {
    background-color: #a1b3db9d;
    height: 80px;
}

/* div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
  } */

  .sticky {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #a1b3db;
}

label.logo {
    font-family: logo;
    color: #1904E5;
    font-size: 70px;
    display: inline-flex;
    vertical-align: middle;
    justify-content: center;
    margin-right: 60px;
}

a{
    color: black;
    font-family: 'Playfair Display', serif;
}
.img1 {
    display: inline;
    vertical-align: middle;
    margin-right: 45px;
}

nav ul {
    float: right;
    margin: 0 60px;
    line-height: 80px;
    font-family: moris;
    font-size: 20px;
}

nav ul li {
    display: inline;
    font-size: larger;
    margin: 14px 0 0 20px;
    text-transform: uppercase;
    padding: 20px 0 20px 0;
    font-weight: bold;
}

.outer {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 500px;
    background-color: #a1b3db9d;
    box-shadow: 2px 4px 6px rgba(5, 89, 120, 0.427)
}

.intro {
    position: absolute;
    left: 200px;
    align-self: center;
    font-size: larger;
}

.image {
    position: absolute;
    right: 100px;
    height: 100%;
    width: 50%;
}

.ed {
    position: relative;
}

.pr-sec{
    background-image: url(./bg.png);
}

.intro-cont{
    line-height: 30px;
    font-size: 20px;
    font-weight: 555;
    font-family: 'Poppins', sans-serif;

}
table {
    /* border: 1px solid black; */
    width: 100%;
    border-collapse: collapse;

}

th {
    border: 1px solid black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: xx-large;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.651);
    color: beige;
}

tr
 {
    font-size: larger;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 10px;

}

td
{
    font-size: larger;
    padding: 45px;
    text-align: center;
}
tr:hover{
    transform: scale(1 .1); 
    position: relative;
    z-index: 1;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.683);
}

tr:nth-child(even) {
    background-color: #dddddd;
    color: rgb(105, 68, 0);
}

tr:nth-child(odd) {
    background-color: whitesmoke;
}



li:hover {
    position: static;
    text-decoration: underline blue;
}

.pr {
    display: flex;
    justify-content: flex-start;
    border: 3px groove gray;
    margin: 100px;
    padding: 10px;
    background-color: rgba(218, 219, 247, 0.774);
}

.pr:hover
{
    border: 1px solid gray;
    box-shadow: 8px 8px rgba(0, 0, 0, 0.185);
}

.table-container {
    margin: 100px;
    background-color: rgba(59, 71, 96, 0.438);;
    
}

.det {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    font-size: 20px;
    text-align: justify;
    color: aliceblue;
}

.abt-sec
{
    padding: 15px;
    margin: 5px;
    margin-bottom: 100px;
    background-color: rgba(53, 60, 95, 0.842);
}

.img-para {
    font-size: large;
    text-align: justify;
    margin: 20px;
    font-family: 'Rubik', sans-serif;
}

.cont-para {
    line-height: 30px;
    font-size: 20px;
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif

}

.con {
    display: flex;
    flex-direction: column;
    margin-left: 500px;
    margin-right: 500px;
    border: 5px solid;
    padding: 10px;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.667);
    margin-bottom: 100px;
}

input {
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.sbtn {
    width: fit-content;
    align-self: center;
    padding: 10px;
    background-color: green;
    color: white;
    border-radius: 10px;
    box-shadow: 5px 10px;
}


.imgp
{
    height: 300px;
    width: 500px;
}


@media screen and (max-width: 1080px) {

  
    body,html{
        object-fit: cover;
    }

    nav {
        background-color: #a1b3db59;
        display: flex;
        justify-content: center;
        height: fit-content;
    }


    nav ul li {
        display: block;
        align-self: center;
        padding: 1px;  
        margin: 0;
    }

    .outer {
        position: absolute;
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
    }

    .intro {
        align-self: flex-start;
    }

    .image {
        position: static;
        height: max-content;
        width: max-content;
        margin-top: 100px;
    }


    .img1 {
        display: none;
    }

    .sticky
    {
        position: static;
    }

    .abt-sec
    {
        display: block;
        position: relative;
        top: 650px;
    }

    .sk-sec
    {
        display: block;
        position: relative;
        top: 650px;
    }

    .pr-sec
    {
        display: block;
        position: relative;
        top: 650px;
    }

    .pr
    {
        display: block;
    }

    .imgp
    {
        height: 200px;
        width: 290px;
    }

    .ed-sec
    {
        display: block;
        position: relative;
        top: 600px;
    }

    .con-sec
    {
        display: block;
        position: relative;
        top: 600px;
    }

    .con
    {
        margin-left: 50px;
        margin-right: 50px;
    }

    tr:hover
    {

    }
}